<%- include("header.ejs")%>
<div class="intro">
  <h3 class="t-center">please pick any of the following options</h3>
  <div class="c-container">

    <!-- Employee Manager Card -->
    <div class="card grey d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <div class="card-img-top svg-gradient">
        <!-- 👇 Full Employee SVG -->
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
          <defs>
            <linearGradient id="animatedGradient1" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" stop-color="#ff69b4">
                <animate attributeName="stop-color" values="#ff69b4;#ffd700;#00bfff;#ff69b4" dur="5s" repeatCount="indefinite" />
              </stop>
              <stop offset="100%" stop-color="#00bfff">
                <animate attributeName="stop-color" values="#00bfff;#ff69b4;#ffd700;#00bfff" dur="5s" repeatCount="indefinite" />
              </stop>
            </linearGradient>
          </defs>
          <g fill="url(#animatedGradient1)">
            <path d="M7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8Z"/>
            <path d="M6.28645 5.9581C6.81559 5.7999 7.1163 5.2427 6.9581 4.71355C6.7999 4.18441 6.2427 3.8837 5.71355 4.0419C4.06991 4.53331 3 6.1924 3 8C3 9.8076 4.06991 11.4667 5.71355 11.9581C6.2427 12.1163 6.7999 11.8156 6.9581 11.2864C7.1163 10.7573 6.81559 10.2001 6.28645 10.0419C5.62978 9.84558 5 9.07911 5 8C5 6.92089 5.62978 6.15442 6.28645 5.9581Z"/>
            <path d="M18.2864 4.0419C17.7573 3.8837 17.2001 4.18441 17.0419 4.71355C16.8837 5.2427 17.1844 5.7999 17.7136 5.9581C18.3702 6.15442 19 6.92089 19 8C19 9.07911 18.3702 9.84558 17.7136 10.0419C17.1844 10.2001 16.8837 10.7573 17.0419 11.2864C17.2001 11.8156 17.7573 12.1163 18.2864 11.9581C19.9301 11.4667 21 9.8076 21 8C21 6.1924 19.9301 4.53331 18.2864 4.0419Z"/>
            <path d="M12 14C10.0062 14 8.09544 14.2542 6.64442 14.8986C5.16516 15.5554 4 16.7142 4 18.5C4 18.9667 4.08524 19.4978 4.40272 20.0043C4.72017 20.5106 5.20786 20.8939 5.83781 21.1789C7.04688 21.7259 8.98391 22 12 22C15.0161 22 16.9531 21.7259 18.1622 21.1789C18.7921 20.8939 19.2798 20.5106 19.5973 20.0043C19.9148 19.4978 20 18.9667 20 18.5C20 16.7142 18.8348 15.5554 17.3556 14.8986C15.9046 14.2542 13.9938 14 12 14Z"/>
          </g>
        </svg>
      </div>
      <div class="card-body grey">
        <h5 class="card-title t-center">Employee Manager</h5>
        <p class="card-text t-center">Manage employee data.</p>
        <a href="/employee?station=<%= stationName %>" class="btn btn-secondary">view more</a>
      </div>
    </div>

    <!-- Waste Manager Card -->
    <div class="card grey d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <div class="card-img-top svg-gradient bg">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" fill="none">
          <defs>
            <linearGradient id="animatedGradient2" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" stop-color="#ff69b4">
                <animate attributeName="stop-color" values="#ff69b4;#ffd700;#00bfff;#ff69b4" dur="5s" repeatCount="indefinite" />
              </stop>
              <stop offset="100%" stop-color="#00bfff">
                <animate attributeName="stop-color" values="#00bfff;#ff69b4;#ffd700;#00bfff" dur="5s" repeatCount="indefinite" />
              </stop>
            </linearGradient>
          </defs>
          <path
            d="M10 10V16M14 10V16M4 6H20M15 6V5C15 3.89543 14.1046 3 13 3H11C9.89543 3 9 3.89543 9 5V6M18 6V14M18 18C18 19.1046 17.1046 20 16 20H8C6.89543 20 6 19.1046 6 18V13M6 9V6"
            stroke="url(#animatedGradient2)"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            fill="none"
          />
        </svg>
      </div>
      <div class="card-body grey">
        <h5 class="card-title t-center">Waste Manager</h5>
        <p class="card-text t-center">Manage waste data.</p>
        <a href="/waste?station=<%= stationName %>" class="btn btn-secondary">view more</a>
      </div>
    </div>

    <!-- Chemical Manager Card -->
    <div class="card grey d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <div class="card-img-top svg-gradient trash-icon">
        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
    <defs>
      <linearGradient id="animatedGradient3" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" stop-color="#ff69b4">
          <animate attributeName="stop-color" values="#ff69b4;#ffd700;#00bfff;#ff69b4" dur="5s" repeatCount="indefinite" />
        </stop>
        <stop offset="100%" stop-color="#00bfff">
          <animate attributeName="stop-color" values="#00bfff;#ff69b4;#ffd700;#00bfff" dur="5s" repeatCount="indefinite" />
        </stop>
      </linearGradient>
    </defs>

    <g fill="url(#animatedGradient3)">
      <circle cx="204.998" cy="373.237" r="20.802"/>
      <circle cx="293.837" cy="407.712" r="40.367"/>
      <path d="M352.127,170.136V39.385h15.365c10.875,0,19.692-8.817,19.692-19.692C387.184,8.817,378.367,0,367.492,0
        C362.34,0,158.838,0,144.45,0c-10.875,0-19.692,8.817-19.692,19.692c0,10.875,8.817,19.692,19.692,19.692h15.365v130.751
        C3.291,264.498,68.2,512,255.971,512C443.993,512,508.625,264.46,352.127,170.136z M188.657,199.078
        c6.483-3.401,10.543-10.118,10.543-17.438V39.385h113.541V181.64c0,7.32,4.061,14.037,10.542,17.438
        c45.753,24.006,67.632,61.229,74.699,98.217H273.106c-1.074-19.624-17.378-35.259-37.266-35.259H125.684
        C137.565,237.76,157.609,215.369,188.657,199.078z M255.971,472.615c-99.41,0-156.121-87.994-142.693-171.195h120.556
        c1.074,19.624,17.378,35.259,37.266,35.259h129.169C395.185,409.006,340.358,472.615,255.971,472.615z"/>
    </g>
  </svg>
      </div>
      <div class="card-body grey">
        <h5 class="card-title t-center">Chemical Manager</h5>
        <p class="card-text t-center">Manage chemical inventory.</p>
        <a href="/chemicals?station=<%= stationName %>" class="btn btn-secondary">view more</a>
      </div>
    </div>

  </div>
</div>

<%- include("footer.ejs", { stationName: stationName }) %>
